/.quarto/
/_site/
posts/.DS_Store
.DS_Store
posts/.DS_Store
posts/.DS_Store
.DS_Store
posts/.DS_Store
posts/.DS_Store
docs/index.html
.Rproj.user/AC2B2F63/pcs/files-pane.pper
.Rproj.user/AC2B2F63/pcs/source-pane.pper
.Rproj.user/AC2B2F63/pcs/windowlayoutstate.pper
.Rproj.user/AC2B2F63/pcs/workbench-pane.pper
.Rproj.user/AC2B2F63/sources/session-616c61a7/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
_freeze/housing_cal_dashboard/execute-results/html.json
_freeze/site_libs/quarto-dashboard/components.js
_freeze/site_libs/quarto-dashboard/datatables.min.css
_freeze/site_libs/quarto-dashboard/datatables.min.js
_freeze/site_libs/quarto-dashboard/pdfmake.min.js
_freeze/site_libs/quarto-dashboard/quarto-dashboard.js
_freeze/site_libs/quarto-dashboard/stickythead.js
_freeze/site_libs/quarto-dashboard/vfs_fonts.js
_freeze/site_libs/quarto-dashboard/web-components.js
docs/site_libs/quarto-dashboard/components.js
docs/site_libs/quarto-dashboard/datatables.min.css
docs/site_libs/quarto-dashboard/datatables.min.js
docs/site_libs/quarto-dashboard/pdfmake.min.js
docs/site_libs/quarto-dashboard/quarto-dashboard.js
docs/site_libs/quarto-dashboard/stickythead.js
docs/site_libs/quarto-dashboard/vfs_fonts.js
docs/site_libs/quarto-dashboard/web-components.js
docs/sitemap.xml
docs/search.json
.DS_Store
.Rproj.user/AC2B2F63/sources/prop/66AA6266
.Rproj.user/AC2B2F63/sources/prop/77CEDCA8
.Rproj.user/AC2B2F63/sources/prop/INDEX
.Rproj.user/AC2B2F63/sources/session-616c61a7/34311934
.Rproj.user/AC2B2F63/sources/session-616c61a7/34311934-contents
.Rproj.user/AC2B2F63/sources/session-616c61a7/6A82B80E
.Rproj.user/AC2B2F63/sources/session-616c61a7/6A82B80E-contents
.Rproj.user/shared/notebooks/paths
docs/chatGPT_blog-listing.json
docs/chatGPT_blog.html
.Rproj.user
.Rproj.user/AC2B2F63/sources/prop/31756BB5
posts/.DS_Store
/.Rproj.user
